Babel==2.8.0
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
Click==7.0
future==0.18.2
gitdb2==2.0.6
GitPython==3.0.5
htmlmin==0.1.12
idna==2.8
Jinja2==2.10.3
jsmin==2.2.2
livereload==2.6.1
Markdown==3.1.1
MarkupSafe==1.1.1
mkdocs==1.0.4
mkdocs-autolinks-plugin==0.1.0
mkdocs-git-revision-date-localized-plugin==0.4.5
mkdocs-gitbook==0.0.1
mkdocs-htmlproofer-plugin==0.0.3
mkdocs-material==4.6.0
mkdocs-minify-plugin==0.2.1
mkdocs-new-features-notifier==0.1.2
mkdocs-tooltipster-links-plugin==0.1.0
mkdocs-vim-md-tags-plugin==0.1.0
pep562==1.0
proselint==0.10.2
Pygments==2.5.2
pymdown-extensions==6.2.1
pytz==2019.3
PyYAML==5.3
requests==2.22.0
six==1.14.0
smmap2==2.0.5
soupsieve==1.9.5
git+https://github.com/jldiaz/mkdocs-plugin-tags.git
tornado==6.0.3
urllib3==1.25.7
