mkdocs
proselint
gitdb2
mkdocs-git-revision-date-localized-plugin
mkdocs-minify-plugin
mkdocs-material
pymdown-extensions
git+git://github.com/lyz-code/mkdocs-autolinks-plugin.git
mkdocs-new-features-notifier
