Babel==2.8.0
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
Click==7.1.1
future==0.18.2
gitdb2==4.0.2
GitPython==3.1.0
htmlmin==0.1.12
idna==2.9
Jinja2==2.11.1
jsmin==2.2.2
livereload==2.6.1
Markdown==3.2.1
MarkupSafe==1.1.1
mkdocs==1.1
mkdocs-autolinks-plugin==0.2.0
mkdocs-git-revision-date-localized-plugin==0.4.6
mkdocs-gitbook==0.0.1
mkdocs-htmlproofer-plugin==0.0.3
mkdocs-material==4.6.3
mkdocs-minify-plugin==0.2.3
mkdocs-new-features-notifier==0.1.6
mkdocs-tooltipster-links-plugin==0.1.0
mkdocs-vim-md-tags-plugin==0.1.0
pep562==1.0
proselint==0.10.2
Pygments==2.6.1
pymdown-extensions==6.3
pytz==2019.3
PyYAML==5.3
requests==2.23.0
six==1.14.0
smmap2==3.0.1
soupsieve==2.0
git+https://github.com/jldiaz/mkdocs-plugin-tags.git
tornado==6.0.4
urllib3==1.25.8
